# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Build artifacts
build/*
!build/GZWhisper-windows-portable/
!build/GZWhisper-windows-portable/**
Resources/Python.framework/
Resources/python/
Resources/wheelhouse/

# IDE
.vscode/
.idea/
